#==========================================================================
# .gitignore for Jennie
#==========================================================================

*~
.env
.ruff_cache
venv